/*
.margem{
	margin-left: 20%;

    }
li, a{
	margin-left:  10px;
}


#carrosel{
	margin-top: 20px;
}*/


@import "https://fonts.googleapis.com/css?family=Arial:300,400,500,600,700"; /*ver o erro*/
body {
    font-family: 'Arial', sans-serif;
    background: #fafafa;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.4s;
}

.navbar {
    padding: 15px 10px;
    background: red;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.ajuste{ /*do nome ou logo*/
    width: 400px;
    height: 50px;
    border: 1px solid red;
    
    position: absolute top;
    margin-left: 25%;
    text-align: center;

}

/* ---------------------------------------------------
    BARRA LATERAL STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: red;/*#7386D5*/  /*cor do menu latral exceto o header e o home*/
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {   /*dismiss esta vinculado a jquery*/
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: red;/*#7386D5*/ /*porque deste background esta ligado a seta do memenu */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover { /*seta para fechar o menu*/
    background: #fff;
    color: red; /*#7386D5*/
}

.overlay { /*estrado hover junto con menu lateral*/
    display: none;
    position: fixed;
    width: 100vw; /*vw no lugar de % para dar certo*/
    height: 100vh; /*vh no lomar de % para dar certo*/
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header { /*menu latera parte superior*/
    padding: 20px;
    background: red;/*#6d7fcc*/
}

#sidebar ul.components { /*detralhe no menu lateral*/
    padding: 20px 0;
    border-bottom: 1px solid yellow; /*#47748b*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover { /*menu latera hover cor dar letras*/
    color: red;/*#7386D5*/
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] { /*menu latera cor da home*/
    color: #fff;
    background: red;/*#6d7fcc*/
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {   
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: red;/* #6d7fcc*/    /*menu latera hover cor interna dos link´s*/
}


/* ---------------------------------------------------
    conteudo da header STYLE
----------------------------------------------------- */
/*
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh; vh no lugar de % para dar certo
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}*/